<div>
  <h1>Add a new player</h1>
  <br />
  <%= form_for @player do |f| %>
    <div>
      <%= f.label :firstname %>
      <br />
      <%= f.text_field :first_name, class: "w-100" %>
    </div>
    <br />
    <div>
      <%= f.label :last_name %>
      <br />
      <%= f.text_field :last_name, class: "w-100" %>
    </div>
    <br />
    <div>
      <%= f.label :age%>
      <br />
      <%= f.number_field :age, class: "w-100" %>
    </div>
    <br />
    <div>
      <%= f.label :team%>
      <br />
      <%= f.collection_select :team_id, Team.all, :id, :name, { include_blank: true }, { class: "w-100 p-1" } %>
    </div>
    <br />

    <div>
      <%= f.submit "Create Player" %>
    </div>  

  <%end%>
  <br />
</div>

<%= link_to "Back to Players", players_path %>
