<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p class="text-center text-danger font-italic"><%= e %></p>
  <%end%>
<% end %>

<div class="mx-5">
  <h1 class="text-center">Add a new player</h1>
  <br />
  <%= form_for @player do |f| %>
    <div>
      <%= f.text_field :first_name, class: "w-100 py-2 px-3", placeholder: "First Name" %>
    </div>
     <br />
    <div>
      <%= f.text_field :last_name, class: "w-100 py-2 px-3", placeholder: "Last Name" %>
    </div>
    <br />
    <div>
      <%= f.number_field :age, class: "w-100 py-2 px-3", placeholder: "Age" %>
    </div>
    <br />
    <div>
      <%= f.text_area :description, class: "w-100 py-2 px-3", placeholder: "Description" %>
    </div>
    <br />
    <div>
      <%= f.collection_select :team_id, Team.all, :id, :name, { include_blank: "Select Team" }, { class: "w-100 py-2 px-3" } %>
    </div>
    <br />

    <div class="buttonn">
      <%= f.submit "Create Player" %>
    </div>  

  <%end%>
  <br />
</div>

<%= link_to "Back to Players", players_path, class: "button" %>
